<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uc.app.zjjh.persistence.ApplyWorkRecordMapper">
	<sql id="Example_Where_Clause">
		<where>
			<foreach collection="example.oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" prefixOverrides="and" suffix=")">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value}
									and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach close=")" collection="criterion.value" item="listItem"
										open="(" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>

	<sql id="selectSql">
		SELECT
		a.ID AS ID,
		a.EMPLOYEE AS EMPLOYEE,
		a.SERVICE_DATE AS SERVICE_DATE,
		a.OBJECT_ID AS OBJECT_ID,
		b.CODE as OBJECT_CODE,
		a.INPUTER AS INPUTER,
		a.INPUT_TIME AS INPUT_TIME,
		a.EDITABLE AS EDITABLE,
		f.NAME AS EMPLOYEE_NAME,
		c.CITY AS CITY,
		c.AREA AS AREA,
		b.SITE AS SITE,
		c.NAME AS SITE_NAME,
		b.NATIONALITY
		FROM t4_work_record a
		JOIN t4_objects b ON b.ID = a.OBJECT_ID
		JOIN t4_org c ON c.ID = b.SITE		
		JOIN t4_employee f ON f.ID = a.EMPLOYEE
		LEFT JOIN t4_application_detail h ON h.RECORD = a.ID
		WHERE a.EDITABLE = FALSE AND ISNULL(h.APPLY)
	</sql>

	<select id="selectCountOptimized" parameterType="com.uc.app.zjjh.forms.WorkRecordQueryForm" resultType="java.lang.Long">
	 select count(*) 
	 from t4_work_record a	 
	 join t4_objects b on b.ID = a.OBJECT_ID
	 join t4_org c on c.ID = b.SITE    
   join t4_employee f on f.ID = a.EMPLOYEE
   left join t4_application_detail h on h.RECORD = a.ID
   where 
     a.EDITABLE = FALSE and 
     ISNULL(h.APPLY) 
   <if test="queryForm !=null and queryForm.queryUser!=null and queryForm.queryUser.id != null">
     and a.INPUTER = #{queryForm.queryUser.id, jdbcType=INTEGER}
     <choose>
     <when test="queryForm.querySite != null">
     and b.SITE = #{queryForm.querySite}
     </when>
     <when test="queryForm.queryArea != null">
     and c.AREA = #{queryForm.queryArea}
     </when>
     <when test="queryForm.queryCity != null">
     and c.CITY = #{queryForm.queryCity}
     </when>
     </choose>  
     <if test="queryForm.queryFillDateFrom !=null">
     and a.INPUT_TIME &gt;= #{queryForm.queryFillDateFrom, jdbcType=DATETIME} 
     </if>
     <if test="queryForm.queryFillDateTo != null">
     and a.INPUT_TIME &lt;= #{queryForm.queryFillDateTo, jdbcType=DATETIME}
     </if>
     <if test="queryForm.queryServiceDateFrom != null">
     and a.SERVICE_DATE &gt;= #{queryForm.queryServiceDateFrom,jdbcType=DATE}
     </if>
     <if test="queryForm.queryServiceDateTo != null">
     and a.SERVICE_DATE &lt;= #{qureyForm.queryServiceDateTo, jdbcType=DATE}
     </if>
     <if test="queryForm.queryEmployeeName!=null">
     and f.NAME like '${queryForm.queryEmployeeName}%'  
     </if>
     <if test="queryForm.queryObjectCode != null">
     and b.CODE like '${queryForm.queryObjectCode}%'
     </if>
     <if test="queryForm.queryNationality!=null">
     and a.NATIONALITY = #{queryForm.queryNationality}
     </if>
   </if>
	</select>
  <select id="selectOptimized" parameterType="com.uc.app.zjjh.forms.WorkRecordQueryForm" resultMap="com.uc.app.zjjh.persistence.WorkRecordMapper.recordDetail">
  SELECT
    a.ID AS ID,
    a.EMPLOYEE AS EMPLOYEE,
    a.SERVICE_DATE AS SERVICE_DATE,
    a.OBJECT_ID AS OBJECT_ID,
    b.CODE as OBJECT_CODE,
    a.INPUTER AS INPUTER,
    a.INPUT_TIME AS INPUT_TIME,
    a.EDITABLE AS EDITABLE,
    d.NAME AS EMPLOYEE_NAME,
    c.CITY AS CITY,
    c.AREA AS AREA,
    b.SITE AS SITE
   from t4_work_record a  
   join t4_objects b on b.ID = a.OBJECT_ID
   join t4_org c on c.ID = b.SITE
   join t4_employee d on d.ID = a.EMPLOYEE
   left join t4_application_detail e on e.RECORD = a.ID
   where 
     a.EDITABLE = FALSE and 
     ISNULL(e.APPLY) 
   <if test="queryForm !=null and queryForm.queryUser!=null and queryForm.queryUser.id !=null">
     and a.INPUTER = #{queryForm.queryUser.id, jdbcType=INTEGER}
     <choose>
     <when test="queryForm.querySite != null">
     and b.SITE = #{queryForm.querySite}
     </when>
     <when test="queryForm.queryArea != null">
     and c.AREA = #{queryForm.queryArea}
     </when>
     <when test="queryForm.queryCity != null">
     and c.CITY = #{queryForm.queryCity}
     </when>
     </choose>  
     <if test="queryForm.queryFillDateFrom !=null">
     and a.INPUT_TIME &gt;= #{queryForm.queryFillDateFrom, jdbcType=DATETIME} 
     </if>
     <if test="queryForm.queryFillDateTo != null">
     and a.INPUT_TIME &lt;= #{queryForm.queryFillDateTo, jdbcType=DATETIME}
     </if>
     <if test="queryForm.queryServiceDateFrom != null">
     and a.SERVICE_DATE &gt;= #{queryForm.queryServiceDateFrom,jdbcType=DATE}
     </if>
     <if test="queryForm.queryServiceDateTo != null">
     and a.SERVICE_DATE &lt;= #{qureyForm.queryServiceDateTo, jdbcType=DATE}
     </if>
     <if test="queryForm.queryEmployeeName!=null">
     and d.NAME like '${queryForm.queryEmployeeName}%'  
     </if>
     <if test="queryForm.queryObjectCode != null">
     and b.CODE like '${queryForm.queryObjectCode}%'
     </if>
     <if test="queryForm.queryNationality!=null">
     and a.NATIONALITY = #{queryForm.queryNationality}
     </if>
     <if test="queryForm.queryOrderByClause!=null and !queryForm.queryOrderByClause.empty">
     order by ${queryForm.queryOrderByClause}
     </if>      
   </if>   
   limit ${offset}, ${count}
  </select>
</mapper>