<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uc.app.zjjh.persistence.CodesMapper">
  <resultMap id="codes" type="com.uc.web.domain.CodeImpl">
    <id column="CODE" jdbcType="INTEGER" property="code" />
    <result column="VALUE" jdbcType="VARCHAR" property="value" />
    <result column="VALID" jdbcType="BIT" property="valid" />
  </resultMap>
  <resultMap type="com.uc.app.zjjh.domain.ClassifiedCode" id="classifiedCodes" extends="codes">
    <result column="CLASSIFY" jdbcType="INTEGER" property="classify"/>
  </resultMap>
  <resultMap id="treeCodes" type="com.uc.web.domain.TreeCodeImpl" extends="codes">
    <result column="PARENT" jdbcType="INTEGER" property="parent"/>
  </resultMap>
  
  <resultMap type="com.uc.app.zjjh.domain.OrgTreeCode" id="orgTreeCode" extends="treeCodes">
    <result column="TYPE" jdbcType="CHAR" property="type"/>
    <result column="CITY" jdbcType="INTEGER" property="city"/>
    <result column="AREA" jdbcType="INTEGER" property="area"/>
    <result column="PREFIX" jdbcType="VARCHAR" property="prefix"/>
  </resultMap>
  
  <resultMap type="com.uc.app.zjjh.domain.AreaTreeCode" id="areaTreeCode" extends="treeCodes">
    <result column="LEVEL" jdbcType="INTEGER" property="level"/>
  </resultMap>
  
  <resultMap type="com.uc.app.zjjh.db.schema.ShowColumnInfo" id="columnInfo">
    <result column="FIELD" jdbcType="VARCHAR" property="field"/>
    <result column="TYPE" jdbcType="VARCHAR" property="type"/>
    <result column="NULL" jdbcType="VARCHAR" property="nullValue"/>
    <result column="KEY" jdbcType="VARCHAR" property="defaultValue"/>
    <result column="extra" jdbcType="BINARY" property="extraValue"/>
  </resultMap>

  <select id="selectAreasForReport" resultMap="treeCodes">
    select a.ID as CODE, a.PARENT as PARENT, a.NAME as VALUE
    from t4_c_area a
    where 
      a.VALID and 
      not exists( select 1 from t4_c_area where PARENT = a.ID) 
      and PARENT is not null
  </select>
  <select id="selectOrgTreeCodes"  resultMap="orgTreeCode">
    SELECT 
      ID as CODE, 
      PARENT as PARENT, 
      NAME as VALUE, 
      VALID,
      TYPE,
      CITY,
      AREA,
      PREFIX
    FROM 
      t4_org 
    order by PARENT, CODE
  </select>
  
  <select id="selectAreaTreeCodes" resultMap="areaTreeCode" >
  select 
    ID as CODE, 
    PARENT, 
    VALUE, 
    VALID,
    TYPE,
    LEVEL 
   FROM t4_c_area 
   order by PARENT, CODE
  </select>
  <select id="selectCities" parameterType="map" resultMap="codes">
    select 
    ID as CODE,
    VALUE,
    VALID
    from t4_c_area 
    where
    ( TYPE = 'CITY'
      <if test="whtiPrivince">
        or TYPE = 'PROVINCE'
      </if>
    )
    <if test="isAll==false">
      and VALID = true
    </if>       
    order by PARENT, CODE    
  </select>
  <select id="selectAreaCodesByIds" parameterType="map" resultMap="codes">
    select 
    ID as CODE,
    VALUE,
    VALID
    from t4_c_area
    <if test="!ids.empty">
      where 
      ID in (<foreach collection="ids" item="id" separator=",">${id}</foreach>)
      <if test="isAll== false">
      and VALID = true
      </if>
    </if>
     
  </select>
  <select id="selectEmployee" parameterType="map" resultMap="codes">
  select 
    ID as CODE, 
    NAME as VALUE, 
    (LEAVE_DATE is NULL) as VALID 
  from t4_employee
  where SITE=#{siteId,jdbcType=VARCHAR}
  <if test="!isAll">
    and LEAVE_DATE is null
  </if> 
  order by NAME
  </select>
  <select id="selectCodes" resultMap="codes">
    select CODE, VALUE, VALID from ${codeName}
    <if test="!isAll">
    where VALID = TRUE
    </if>
    order by CODE
  </select>
  <select id="selectReportYears" parameterType="map" resultMap="codes">
    select distinct YEAR as CODE, cast(YEAR as CHAR) as VALUE, true as VALID 
    from ${tableName} 
    order by YEAR  
  </select>
  <select id="selectReportMonths" parameterType="map" resultMap="codes">
      select distinct MONTH as CODE, cast(MONTH as CHAR) as VALUE, true as VALID
    from ${tableName}
    <if test="year !=null">
    where YEAR = #{year, jdbcType=INTEGER}
    </if>
    order by MONTH
  </select>
  <select id="selectReportQuarters" parameterType="map" resultMap="codes">
    select distinct QUARTER as CODE, cast(QUARTER as CHAR) as VALUE, true as VALID
    from ${tableName}
    <if test="year != null">
    where YEAR = #{year, jdbcType=INTEGER}
    </if>
    order by QUARTER  
  </select>
  <select id="selectClassifyCode" parameterType="map" resultMap="classifiedCodes">
    select CODE, CLASSIFY, VALUE, VALID
    from ${codeName}
    <where>
      <trim prefixOverrides="and">
        <if test="!isAll">
          and VALID
        </if>
        <if test="classify !=null">
          and CLASSIFY = #{classify, jdbcType=INTEGER}
        </if>
      </trim>  
    </where>     
    order by CODE
  </select>
  <select id="selectCombinedCategory" parameterType="map" resultMap="codes">
    select a.ID as CODE, concat_ws(' ', a.NAME, b.VALUE, c.VALUE) as VALUE, true as VALID
    from t4_category a
    left join t4_c_model b on b.CODE = a.MODEL
    left join t4_c_specification c on c.CODE = a.SPECIFICATION
    where a.NAME='注射器'
    <if test="!isAll">
     and a.VALID
    </if> 
  </select>
  <select id="selectManufacturer" parameterType="map" resultMap="codes">
    select a.CODE, a.VALUE, a.VALID    
    from t4_c_manufacturer a
    <where>
      <if test="!isAll">
        a.VALID = true
      </if>
    </where>
    order by a.SORT
  </select>
</mapper>