<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uc.app.zjjh.persistence.EmployeeMapper">
	<resultMap id="employeeDetail" type="com.uc.app.zjjh.domain.EmployeeForm">
		<id column="ID" jdbcType="INTEGER" property="id" />
		<result column="UUID" jdbcType="VARCHAR" property="uuid" />
		<result column="CITY" jdbcType="INTEGER" property="city" />
		<result column="AREA" jdbcType="INTEGER" property="area" />
		<result column="SITE" jdbcType="INTEGER" property="site" />
		<result column="NAME" jdbcType="VARCHAR" property="name" />
		<result column="SEX" jdbcType="CHAR" property="sex" />
		<result column="ADDRESS" jdbcType="VARCHAR" property="address" />
		<result column="EMAIL" jdbcType="VARCHAR" property="email" />
		<result column="TELE" jdbcType="VARCHAR" property="tele" />
		<result column="DUTY" jdbcType="INTEGER" property="duty" />
		<result column="JOIN_DATE" jdbcType="DATE" property="joinDate" />
		<result column="LEAVE_DATE" jdbcType="DATE" property="leaveDate" />
		<result column="RECV_MST_CURE" jdbcType="BIT" property="recvMstCure" />
		<result column="MST_CURE_BEGIN_DATE" jdbcType="VARCHAR"	property="mstCureBeginDate" />
		<result column="MST_CURE_END_DATE" jdbcType="VARCHAR" property="mstCureEndDate" />
		<result column="INPUTOR" jdbcType="INTEGER" property="inputer" />
		<result column="INPUT_TIME" jdbcType="TIMESTAMP" property="inputTime" />
		<result column="MODIFIER" jdbcType="INTEGER" property="modifier" />
		<result column="MODIFY_TIME" jdbcType="TIMESTAMP" property="modifyTime" />
		<result column="CITY_NAME" jdbcType="VARCHAR" property="cityName" />
		<result column="AREA_NAME" jdbcType="VARCHAR" property="areaName" />
		<result column="DUTY_NAME" jdbcType="VARCHAR" property="dutyName" />
		<result column="INPUTER_NAME" jdbcType="VARCHAR" property="inputerName" />
		<result column="MODIFIER_NAME" jdbcType="VARCHAR" property="modifierName" />
		<result column="SITE_NAME" jdbcType="VARCHAR" property="siteName" />
	</resultMap>
	<sql id="siteOnSql">
		<if	test="queryForm!=null and queryForm.siteLimits!=null and !queryForm.siteLimits.empty">
			and b.ID in
			<foreach collection="queryForm.siteLimits" item="site" open="("
				close=")" separator=",">
				${site}
			</foreach>
		</if>
	</sql>
	<sql id="selectSql">
		SELECT
		a.ID AS ID,
		a.NAME AS NAME,
		a.SEX AS SEX,
		a.ADDRESS AS ADDRESS,
		a.EMAIL AS EMAIL,
		a.TELE AS TELE,
		a.DUTY AS DUTY,
		a.JOIN_DATE AS JOIN_DATE,
		a.LEAVE_DATE AS LEAVE_DATE,
		a.RECV_MST_CURE AS RECV_MST_CURE,
		a.MST_CURE_BEGIN_DATE AS MST_CURE_BEGIN_DATE,
		a.MST_CURE_END_DATE AS MST_CURE_END_DATE,
		a.INPUTER AS INPUTER,
		a.INPUT_TIME AS INPUT_TIME,
		a.MODIFIER AS MODIFIER,
		a.MODIFY_TIME AS MODIFY_TIME,
		c.VALUE AS CITY_NAME,
		d.VALUE AS AREA_NAME,
		e.VALUE AS DUTY_NAME,
		f.NAME AS INPUTER_NAME,
		g.NAME AS MODIFIER_NAME,
		b.NAME AS SITE_NAME
		FROM
		t4_employee a
		left join t4_org b on b.ID = a.SITE
		<include refid="siteOnSql" />
		left join t4_c_area c on c.ID=b.CITY
		left join t4_c_area d on d.ID=b.AREA
		left join t4_c_duty e on e.CODE = a.DUTY
		left join t4_user f on f.ID = a.INPUTER
		left join t4_user g on g.ID = a.MODIFIER
	</sql>
	<sql id="whereSql">
		<if test="queryForm != null">
			<where>
				b.ID is not null
				<choose>
					<when test="queryForm.querySite != null">
						and a.SITE = #{queryForm.querySite, jdbcType=INTEGER}
					</when>
					<otherwise>
						<if test="queryForm.queryCity != null">
							and c.ID = #{queryForm.queryCity,jdbcType=INTEGER}
						</if>
						<if test="queryForm.queryArea != null">
							and d.ID = #{queryForm.queryArea, jdbcType=INTEGER}
						</if>
					</otherwise>
				</choose>
				<if test="queryForm.queryDuty != null">
					and a.DUTY = #{queryForm.queryDuty,jdbcType=INTEGER}
				</if>
				<if test="queryForm.queryJoinDateFrom != null">
					and a.JOIN_DATE &gt;= #{queryForm.queryJoinDateFrom,jdbcType=DATE}
				</if>
				<if test="queryForm.queryLeaveDateTo != null">
					and a.LEAVE_DATE &lt;= #{queryForm.queryLeaveDateTo,jdbcType=DATE}
				</if>
				<if test="queryForm.queryJoinDateTo != null">
					and a.JOIN_DATE &lt;= #{queryForm.queryJoinDateTo,jdbcType=DATE}
				</if>
				<if test="queryForm.queryLeaveDateFrom != null">
					and a.LEAVE_DATE &gt;= #{queryForm.queryLeaveDateFrom,jdbcType=DATE}
				</if>
				<if test="!queryForm.queryAll">
					and a.LEAVE_DATE is null
				</if>
				<if test="queryForm.queryName != null">
					and a.NAME like '%${queryForm.queryName}%'
				</if>
			</where>
		</if>
	</sql>
	<sql id="orderBySql">
		<if
			test="queryForm!=null and queryForm.queryOrderByClause!=null and !queryForm.queryOrderByClause.empty">
			order by ${queryForm.queryOrderByClause}
		</if>
	</sql>
	<select id="selectOptimized" parameterType="map" resultMap="employeeDetail">
		<include refid="selectSql" />
		<include refid="whereSql" />
		<include refid="orderBySql" />
		limit ${offset}, ${count}
	</select>

	<select id="selectById" parameterType="java.lang.Long"
		resultMap="employeeDetail">
		SELECT
		a.ID AS ID,
		a.UUID as UUID,
		b.CITY as CITY,
		b.AREA as AREA,
		a.SITE AS SITE,
		a.NAME AS NAME,
		a.SEX AS SEX,
		a.ADDRESS AS ADDRESS,
		a.EMAIL AS EMAIL,
		a.TELE AS TELE,
		a.DUTY AS DUTY,
		a.JOIN_DATE AS JOIN_DATE,
		a.LEAVE_DATE AS LEAVE_DATE,
		a.RECV_MST_CURE AS RECV_MST_CURE,
		a.MST_CURE_BEGIN_DATE AS MST_CURE_BEGIN_DATE,
		a.MST_CURE_END_DATE AS MST_CURE_END_DATE,
		a.INPUTER AS INPUTER,
		a.INPUT_TIME AS INPUT_TIME,
		a.MODIFIER AS MODIFIER,
		a.MODIFY_TIME AS MODIFY_TIME,
		c.VALUE AS CITY_NAME,
		d.VALUE AS AREA_NAME,
		e.VALUE AS DUTY_NAME,
		f.NAME AS INPUTER_NAME,
		g.NAME AS MODIFIER_NAME,
		b.NAME AS SITE_NAME
		FROM
		t4_employee a
		left join t4_org b on b.ID = a.SITE
		left join t4_c_area c on c.ID=b.CITY
		left join t4_c_area d on d.ID=b.AREA
		left join t4_c_duty e on e.CODE = a.DUTY
		left join t4_user f on f.ID = a.INPUTER
		left join t4_user g on g.ID = a.MODIFIER
		where a.ID = #{id, jdbcType=VARCHAR}
	</select>

	<select id="selectCountOptimized" parameterType="map"	resultType="java.lang.Long">
		select count(*) from (
		<include refid="selectSql" />
		<include refid="whereSql" />
		) t
	</select>

	<insert id="insertDetail" parameterType="com.uc.app.zjjh.domain.EmployeeForm">
		insert into t4_employee (UUID, SITE, NAME, SEX, ADDRESS,
		EMAIL, TELE, DUTY, JOIN_DATE, LEAVE_DATE, RECV_MST_CURE,
		MST_CURE_BEGIN_DATE, MST_CURE_END_DATE, INPUTER)
		values (
		#{uuid,jdbcType=VARCHAR}, #{site,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR},
		#{sex,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR},
		#{email,jdbcType=VARCHAR}, #{tele,jdbcType=VARCHAR},
		#{duty,jdbcType=INTEGER},
		#{joinDate,jdbcType=DATE}, #{leaveDate,jdbcType=DATE}, #{recvMstCure,jdbcType=BIT},
		#{mstCureBeginDate,jdbcType=VARCHAR},
		#{mstCureEndDate,jdbcType=VARCHAR}, #{inputer,jdbcType=INTEGER})
	</insert>
	<update id="updateDetailSelective" parameterType="com.uc.app.zjjh.domain.EmployeeForm">
		update t4_employee
		<set>
			<if test="site != null and site!=0">
				SITE = #{site,jdbcType=INTEGER},
			</if>
			<if test="name != null">
				NAME = #{name,jdbcType=VARCHAR},
			</if>
			<if test="sex != null">
				SEX = #{sex,jdbcType=VARCHAR},
			</if>
			<if test="address != null">
				ADDRESS = #{address,jdbcType=VARCHAR},
			</if>
			<if test="email != null">
				EMAIL = #{email,jdbcType=VARCHAR},
			</if>
			<if test="tele != null">
				TELE = #{tele,jdbcType=VARCHAR},
			</if>
			<if test="duty != null">
				DUTY = #{duty,jdbcType=INTEGER},
			</if>
			<if test="joinDate != null">
				JOIN_DATE = #{joinDate,jdbcType=DATE},
			</if>
			<if test="leaveDate != null">
				LEAVE_DATE = #{leaveDate,jdbcType=DATE},
			</if>
			<if test="recvMstCure != null">
				RECV_MST_CURE = #{recvMstCure,jdbcType=BIT},
			</if>
			<if test="mstCureBeginDate != null">
				MST_CURE_BEGIN_DATE = #{mstCureBeginDate,jdbcType=VARCHAR},
			</if>
			<if test="mstCureEndDate != null">
				MST_CURE_END_DATE = #{mstCureEndDate,jdbcType=VARCHAR},
			</if>
			<if test="modifier != null and modifier!=0">
				MODIFIER = #{modifier,jdbcType=INTEGER},
			</if>
			<if test="modifyTime != null">
				MODIFY_TIME = #{modifyTime,jdbcType=DATE},
			</if>
		</set>
		where ID = #{id,jdbcType=VARCHAR}
	</update>

	<update id="updateDetail" parameterType="com.uc.app.zjjh.domain.EmployeeForm">
		update t4_employee
		set
		SITE = #{site,jdbcType=INTEGER},
		NAME = #{name,jdbcType=VARCHAR},
		SEX = #{sex,jdbcType=VARCHAR},
		ADDRESS = #{address,jdbcType=VARCHAR},
		EMAIL = #{email,jdbcType=VARCHAR},
		TELE = #{tele,jdbcType=VARCHAR},
		DUTY = #{duty,jdbcType=VARCHAR},
		JOIN_DATE = #{joinDate,jdbcType=DATE},
		LEAVE_DATE = #{leaveDate,jdbcType=DATE},
		RECV_MST_CURE = #{recvMstCure,jdbcType=BIT},
		MST_CURE_BEGIN_DATE = #{mstCureBeginDate,jdbcType=VARCHAR},
		MST_CURE_END_Date = #{mstCureEndDate,jdbcType=VARCHAR},
		MODIFIER = #{modifier,jdbcType=INTEGER},
		MODIFY_TIME = #{modifyTime,jdbcType=DATE}
		where ID = #{id,jdbcType=INTEGER}
	</update>

	<select id="selectByUuid" parameterType="java.lang.String"
		resultMap="employeeDetail">
		SELECT
		a.ID AS ID,
		a.UUID as UUID,
		b.CITY as CITY,
		b.AREA as AREA,
		a.SITE AS SITE,
		a.NAME AS NAME,
		a.SEX AS SEX,
		a.ADDRESS AS ADDRESS,
		a.EMAIL AS EMAIL,
		a.TELE AS TELE,
		a.DUTY AS DUTY,
		a.JOIN_DATE AS JOIN_DATE,
		a.LEAVE_DATE AS LEAVE_DATE,
		a.RECV_MST_CURE AS RECV_MST_CURE,
		a.MST_CURE_BEGIN_DATE AS MST_CURE_BEGIN_DATE,
		a.MST_CURE_END_DATE AS MST_CURE_END_DATE,
		a.INPUTER AS INPUTER,
		a.INPUT_TIME AS INPUT_TIME,
		a.MODIFIER AS MODIFIER,
		a.MODIFY_TIME AS MODIFY_TIME,
		c.VALUE AS CITY_NAME,
		d.VALUE AS AREA_NAME,
		e.VALUE AS DUTY_NAME,
		f.NAME AS INPUTER_NAME,
		g.NAME AS MODIFIER_NAME,
		b.NAME AS SITE_NAME
		FROM
		t4_employee a
		left join t4_org b on b.ID = a.SITE
		left join t4_c_area c on c.ID=b.CITY
		left join t4_c_area d on d.ID=b.AREA
		left join t4_c_duty e on e.CODE = a.DUTY
		left join t4_user f on f.ID = a.INPUTER
		left join t4_user g on g.ID = a.MODIFIER
		where a.UUID = #{uuid, jdbcType=VARCHAR}
	</select>
	<select id="selectIdByUuid" parameterType="java.lang.String"
		resultType="java.lang.Long">
		select ID from t4_employee where UUID = #{uuid, jdbcType=VARCHAR}
	</select>
</mapper>