<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uc.app.zjjh.persistence.MaintainMapper">
  <update id="updateStrangerFlag">
    update t4_work_record set STRANGER false;
    update t4_work_record 
  </update>
</mapper>