<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uc.app.zjjh.persistence.OrgnizationMapper">
	<resultMap id="orgnizationDetail" type="com.uc.app.zjjh.domain.OrgnizationForm">
		<id column="ID" jdbcType="INTEGER" property="id" />
		<result column="UUID" jdbcType="VARCHAR" property="uuid" />
		<result column="PARENT" jdbcType="VARCHAR" property="parent" />
		<result column="NAME" jdbcType="VARCHAR" property="name" />
		<result column="LEVEL" jdbcType="INTEGER" property="level" />
		<result column="TYPE" jdbcType="VARCHAR" property="type" />
		<result column="CITY" jdbcType="INTEGER" property="city" />
		<result column="AREA" jdbcType="VARCHAR" property="area" />
		<result column="ADDRESS" jdbcType="VARCHAR" property="address" />
		<result column="TELE" jdbcType="VARCHAR" property="tele" />
		<result column="LINKMAN" jdbcType="VARCHAR" property="linkman" />
		<result column="DESCRIPTION" jdbcType="VARCHAR" property="description" />
		<result column="VALID" jdbcType="BIT" property="valid" />
		<result column="PREFIX" jdbcType="VARCHAR" property="prefix" />
		<result column="HAS_MMT" jdbcType="BIT" property="hasMmt" />
		<result column="REQUIRED_SITES" jdbcType="INTEGER" property="requiredSites" />
		<result column="CREATOR" jdbcType="VARCHAR" property="creator" />
		<result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
		<result column="CITY_NAME" jdbcType="VARCHAR" property="cityName" />
		<result column="AREA_NAME" jdbcType="VARCHAR" property="areaName" />
		<result column="CREATOR_NAME" jdbcType="VARCHAR" property="creatorName" />
		<result column="PARENT_NAME" jdbcType="VARCHAR" property="parentName" />
	</resultMap>
	<sql id="whereQueryForm">
		<where>
			<trim prefixOverrides="and">
				<if test="queryForm.queryName !=null">
					and a.NAME like '%${queryForm.queryName}%'
				</if>
				<if test="!queryForm.queryAll">
					and a.VALID = TRUE
				</if>
				<if test="queryForm.queryNoMmt">
					and a.HAS_MMT = false
				</if>
				<if test="queryForm.queryCity !=null">
					and a.CITY = #{queryForm.queryCity,jdbcType=INTEGER}
				</if>
				<if test="queryForm.queryArea !=null">
					and a.AREA = #{queryForm.queryArea,jdbcType=INTEGER}
				</if>
				<if test="queryForm.queryParent!=null">
					and a.PARENT = #{queryForm.queryParent,jdbcType=INTEGER}
				</if>
			</trim>
		</where>
	</sql>
	<sql id="columns">
		ID, UUID, PARENT, NAME, LEVEL, TYPE, CITY, AREA, ADDRESS, TELE,
		LINKMAN, DESCRIPTION, VALID, PREFIX, HAS_MMT, REQUIRED_SITES, CREATOR,
		CREATE_TIME,	CITY_NAME, AREA_NAME,CREATOR_NAME, PARENT_NAME
	</sql>
	<sql id="selectSql">
		select
		a.ID, a.UUID, a.PARENT, a.NAME, a.LEVEL, a.TYPE, a.CITY, a.AREA, a.ADDRESS,
		a.TELE,	a.LINKMAN, a.DESCRIPTION, a.VALID, a.PREFIX, a.HAS_MMT, a.REQUIRED_SITES,
		a.CREATOR, a.CREATE_TIME,	b.VALUE as CITY_NAME, c.VALUE as AREA_NAME, d.NAME as CREATOR_NAME,
		ifnull(e.NAME,'') as PARENT_NAME
		from t4_org a
		left join t4_c_area b on a.CITY=b.ID
		left join t4_c_area c on a.AREA=c.ID
		left join t4_user d on a.CREATOR=d.ID
		left join t4_org e on a.PARENT = e.ID		
	</sql>
	<select id="selectCountOptimized" parameterType="com.uc.app.zjjh.forms.OrgnizationQueryForm"	resultType="java.lang.Long">
		select count(*) from t4_org a
		left join t4_c_area b on a.CITY=b.ID
		left join t4_c_area c on a.AREA=c.ID
		left join t4_user d on a.CREATOR=d.ID
		left join t4_org e on a.PARENT = e.ID
		<if test="queryForm != null">
			<include refid="whereQueryForm" />
		</if>
	</select>
	<select id="selectOptimized" parameterType="com.uc.app.zjjh.forms.OrgnizationQueryForm"	resultMap="orgnizationDetail">
		select
		a.ID, a.UUID, a.PARENT, a.NAME, a.LEVEL, a.TYPE, a.CITY, a.AREA, a.ADDRESS,
		a.TELE,
		a.LINKMAN, a.DESCRIPTION, a.VALID, a.PREFIX, a.HAS_MMT, a.REQUIRED_SITES,
		a.CREATOR, a.CREATE_TIME,
		b.VALUE as CITY_NAME, c.VALUE as AREA_NAME, d.NAME as CREATOR_NAME,
		ifnull(e.NAME,'') as PARENT_NAME
		from t4_org a
		left join t4_c_area b on a.CITY=b.ID
		left join t4_c_area c on a.AREA=c.ID
		left join t4_user d on a.CREATOR=d.ID
		left join t4_org e on a.PARENT = e.ID
		<if test="queryForm != null">
			<include refid="whereQueryForm" />
			<if
				test="queryForm.queryOrderByClause!=null and !queryForm.queryOrderByClause.empty">
				order by ${queryForm.queryOrderByClause}
			</if>
		</if>
		limit ${offset}, ${count}
	</select>
	<select id="selectAll4Tree" resultMap="orgnizationDetail">
		select
		<include refid="columns" />
		from (
		<include refid="selectSql" />
		) t
		group by CITY, AREA, ID
		order by PARENT, ID ASC
	</select>

	<select id="selectById" parameterType="java.lang.Long"
		resultMap="orgnizationDetail">
		<include refid="selectSql" />
		where a.ID = #{id,jdbcType=INTEGER}
	</select>

	<insert id="insertDetail" parameterType="com.uc.app.zjjh.domain.OrgnizationForm">
		insert into t4_org (UUID, PARENT, NAME,
		LEVEL, TYPE,CITY, AREA,
		ADDRESS, TELE, LINKMAN,
		DESCRIPTION, VALID,
		PREFIX, HAS_MMT, REQUIRED_SITES,
		CREATOR, CREATE_TIME
		)
		values (#{uuid,jdbcType=VARCHAR}, #{parent,jdbcType=INTEGER},
		#{name,jdbcType=VARCHAR},
		#{level,jdbcType=INTEGER}, #{type,jdbcType=VARCHAR}, #{city,jdbcType=INTEGER},
		#{area,jdbcType=INTEGER}, #{address,jdbcType=VARCHAR},
		#{tele,jdbcType=VARCHAR},
		#{linkman,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{valid,jdbcType=BIT},
		#{prefix,jdbcType=VARCHAR}, #{hasMmt, jdbcType=BIT},
		#{requiredSites,jdbcType=INTEGER},
		#{creator,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}
		)
	</insert>

	<update id="updateDetailSelective" parameterType="com.uc.app.zjjh.domain.OrgnizationForm">
		update t4_org
		<set>
			<if test="parent != null">
				PARENT = #{parent,jdbcType=INTEGER},
			</if>
			<if test="name != null">
				NAME = #{name,jdbcType=VARCHAR},
			</if>
			<if test="level != null">
				LEVEL = #{level,jdbcType=INTEGER},
			</if>
			<if test="type != null">
				TYPE = #{type,jdbcType=VARCHAR},
			</if>
			<if test="area != null and area != 0">
				AREA = #{area,jdbcType=INTEGER},
			</if>
			<if test="address != null">
				ADDRESS = #{address,jdbcType=VARCHAR},
			</if>
			<if test="tele != null">
				TELE = #{tele,jdbcType=VARCHAR},
			</if>
			<if test="linkman != null">
				LINKMAN = #{linkman,jdbcType=VARCHAR},
			</if>
			<if test="description != null">
				DESCRIPTION = #{description,jdbcType=VARCHAR},
			</if>
			<if test="valid != null">
				VALID = #{valid,jdbcType=BIT},
			</if>
			<if test="city != null and city != 0">
				CITY = #{city,jdbcType=INTEGER},
			</if>
			<if test="prefix != null">
				PREFIX = #{prefix,jdbcType=VARCHAR},
			</if>
			<if test="hasMmt != null">
				HAS_MMT = #{hasMmt,jdbcType=BIT},
			</if>
			<if test="requiredSites !=null and requiredSites != 0">
				REQUIRED_SITES = #{requiredSites, jdbcType=INTEGER}
			</if>
		</set>
		where ID = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateDetail" parameterType="com.uc.app.zjjh.domain.OrgnizationForm">
		update t4_org
		set PARENT = #{parent,jdbcType=INTEGER},
		NAME = #{name,jdbcType=VARCHAR},
		LEVEL = #{level,jdbcType=INTEGER},
		TYPE = #{type,jdbcType=VARCHAR},
		AREA = #{area,jdbcType=VARCHAR},
		ADDRESS = #{address,jdbcType=VARCHAR},
		TELE = #{tele,jdbcType=VARCHAR},
		LINKMAN = #{linkman,jdbcType=VARCHAR},
		DESCRIPTION = #{description,jdbcType=VARCHAR},
		VALID = #{valid,jdbcType=BIT},
		CITY = #{city,jdbcType=INTEGER},
		PREFIX = #{prefix,jdbcType=VARCHAR},
		HAS_MMT = #{hasMmt,jdbcType=BIT},
		REQUIRED_SITES=#{requiredSites,jdbcType=INTEGER},
		CREATOR = #{creator,jdbcType=INTEGER},
		CREATE_TIME = #{createTime,jdbcType=TIMESTAMP}
		where ID = #{id,jdbcType=INTEGER}
	</update>
	<select id="selectByUuid" parameterType="java.lang.String"
		resultMap="orgnizationDetail">
		<include refid="selectSql" />
		where a.UUID = #{uuid, jdbcType=VARCHAR}
	</select>
	<select id="selectIdByUuid" parameterType="java.lang.String"
		resultType="java.lang.Long">
		select ID from t4_org where UUID = #{uuid, jdbcType=VARCHAR}
	</select>
</mapper>